*,
::before,
::after {
    box-sizing: border-box;
}



.wrapper{
    width: 600px;
    margin: 0px auto;
}

.slider-container{
    overflow: hidden;
    background-color: lightblue;
}

.slider-track{
    display: flex;
    background-color: yellow;
    transition: .2s;
}

.slider-item{
    height: 100px;
    min-width: 200px;
}

.slider-buttons {
    text-align: center;
}

.slider-item:nth-child(3n+1) {
    background-color: tomato;
}

.slider-item:nth-child(3n+2) {
    background-color: blue;
}

.slider-item:nth-child(3n+3) {
    background-color: green;
}

